.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.example-full-width {
  width: 100%;
}

.button {
  width: 100%;
  background: #FFA500;
  border-radius: 10em;
}

section {
  height: 100vh;
}
