<app-navigation>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d63033.50691187144!2d7.383136547077896!3d9.100682228555845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d9.0914649!2d7.4597725!4m5!1s0x104e750c55360681%3A0x572cc6c1333915b9!2sredbridge+health+care+group!3m2!1d9.1107348!2d7.3765822!5e0!3m2!1sen!2sng!4v1560560399061!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

    <section style="margin-top: 2em;">
        <div class="container" fxLayoutAlign="center" fxLayoutGap="2em" fxLayout.xs="column">
            <div fxFlex="50%">
                <p style="font-weight:lighter;">Nice to see you!</p>
                <h3>Where are you going?</h3>
            </div>

            <div fxFlex="50%">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput placeholder="Search destination" class="example-center-align">
                    <span matPrefix>
                        <mat-icon color="primary"> search </mat-icon> 
                    </span>
                </mat-form-field>
            </div>
        </div>
    </section>

    <section>
        <div class="container" fxLayoutGap="2em" fxLayout.xs="column">
            <div fxFlex="50%">
                <mat-list>
                    <mat-list-item>
                        <mat-icon matSuffix> place </mat-icon>
                        <span>
                            <p class="text">Ebitu Ukiwe Street <br> Abuja</p>
                        </span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon matSuffix> schedule </mat-icon>
                        <span>
                            <p class="text">Lento Aluminium </p>
                        </span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon matSuffix> schedule </mat-icon>
                        <span>
                            <p class="text">Unnamed Road </p>
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </section>

    <div style="height: 6em;"></div>
</app-navigation>