section {
    margin-top: 6em;
    height: 100vh;
}

.login {
    width: 100%;
    margin-top: 1em;
    background: #FFA500;
    color: #fff;
    font-weight: bold;
}

.head {
    color: #FFA500;
    font-size: 1em;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.create {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}
