.avatar {
    vertical-align: middle;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-top: 1em;
}

.button-span {
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
}

.success {
    background: #00C851;
    color: #fff;
    border-radius: 10em;
    width: 10em;
}

.danger {
    background: #ff4444;
    color: #fff;
    border-radius: 10em;
    width: 10em;
}