<app-navigation>
  <section class="section1">
    <div class="container" fxLayoutGap="2em" fxLayout.xs="column">
      <div fxFlex="50%">
        <mat-list>
          <!-- First Item -->
          <mat-list-item>
            <span>
              <h4>Mohammed Shuwa Street, Abuja</h4>
              <p>
                Jun 10, 2019 12:14:19 PM <br> <span style="color: #00ff7f;">FINISHED</span>
              </p>
            </span>
            <span>
              <mat-icon style="margin-left: 3em;"> arrow_forward_ios </mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>

          <!-- Second Item -->
          <mat-list-item>
            <span>
              <h4>Ebitu Ukiwe Street</h4>
              <p>
                Jun 10, 2019 10:52:56 PM <br> <span style="color: #00ff7f;">FINISHED</span>
              </p>
            </span>
              <span>
                <mat-icon style="margin-left: 5em;"> arrow_forward_ios </mat-icon>
              </span>
          </mat-list-item>
          <mat-divider></mat-divider>

          <!-- Third Item -->
          <mat-list-item>
            <span>
              <h4>Mambila Street 29, Abuja</h4>
              <p>
                Jun 10, 2019 10:31:30 PM <br> <span style="color: #00ff7f;">FINISHED</span>
              </p>
              </span>
              <span>
                <mat-icon style="margin-left: 5em;"> arrow_forward_ios </mat-icon>
              </span>
          </mat-list-item>
          <mat-divider></mat-divider>

          <!-- Fourth Item -->
          <mat-list-item>
            <span>
              <h4>6th Avenue, Abuja</h4>
              <p>
                Jun 10, 2019 9:23:10 PM <br> <span style="color: #00ff7f;">FINISHED</span>
              </p>
            </span>
            <span>
              <mat-icon style="margin-left: 5em;"> arrow_forward_ios </mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>

          <!-- Fifth Item -->
          <mat-list-item>
            <span>
              <h4>Unnamed Road, Abuja</h4>
              <p>
                Jun 10, 2019 8:21:50 PM <br> <span style="color: #00ff7f;">FINISHED</span>
              </p>
            </span>
            <span>
              <mat-icon style="margin-left: 5em;"> arrow_forward_ios </mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>

          <!-- Sixth Item -->
          <mat-list-item>
            <span>
              <h4>64th Crescent, Abuja</h4>
              <p>
                Jun 10, 2019 7:51:50 PM <br> <span style="color: #00ff7f;">FINISHED</span>
              </p>
            </span>
            <span>
              <mat-icon style="margin-left: 5em;"> arrow_forward_ios </mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
  </section>

  <div style="height: 6em;"></div>
</app-navigation>