section {
    margin-top: 6em;
    height: 100vh;
}

.login {
    width: 100%;
    margin-top: 1em;
    background: #FFA500;
    color: #fff;
    font-weight: bold;
}

.head {
    color: #FFA500;
    font-size: 1.5em;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.create {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #FFA500;
}

a:hover {
    color: #3f51b5;
}

p {
    font-family: Lato;
}

/* .example-button-row { display: flex; align-items: flex-start; justify-content: space-around; } */